#card {
  min-width: 200px;
  /* padding: 20px; */
  overflow: hidden;
  background-color: #f5f3ef;
  transition-duration: 0.3s;
  height: 100%;
}
#text-cont {
  padding: 10px;
}
#img-cont {
  height: 200px;
  overflow: hidden;
}
#category {
  color: #d49054;
}
#rating {
  color: #a9a19c;
}
#name {
  font-weight: bold;
}
#description {
  color: #a9a19c;
}
img {
  width: 100%;
  height: 100%;
  transition-duration: 0.3s;
}
#input-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}
#input-cont input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}
.ammount-btn {
  background-color: black;
  color: white;
  border: none;
}
