#card {
  min-width: 200px;
  /* padding: 20px; */
  overflow: hidden;
  background-color: #f5f3ef;
  transition-duration: 0.3s;
  height: 100%;
}
#text-cont {
  padding: 10px;
}
#img-cont {
  height: 200px;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  transition-duration: 0.3s;
}
#category {
  color: #d49054;
}
#rating {
  color: #a9a19c;
}
#name {
  font-weight: bold;
}
#description {
  color: #a9a19c;
}
