<div id="card" appCardDirective>
  <div id="card-cont">
    <div id="img-cont">
      <img src="{{ product.imageUrl }}" alt="" appZoomDirective />
    </div>
    <div id="text-cont">
      <p id="category">{{ product.categoryName }}</p>
      <p id="rating">{{ product.rating }}</p>
      <p id="name">{{ product.name }}</p>
      <p id="description" (click)="expandDescription()">
        {{ product.description | shortTextPipe: expanded }}
      </p>
      @if (product.isInStock()) {
        <p id="qty">Left {{ product.quantityLeft }}</p>
      } @else {
        <p id="qty">OUT OF STOCK</p>
      }
      <div class="row">
        <h6 id="price">{{ product.price | currency }}</h6>
        <div id="input-cont">
          <button class="ammount-btn" (click)="productsData.decreaseQty(product)">-</button>
          <input
            type="number"
            min="1"
            value="{{ productsData.getProductQty(product) }}"
            max="{{ product.quantityLeft }}"
            (input)="onQtyInput(+qtyIn.value)"
            #qtyIn
          />
          <button class="ammount-btn" (click)="productsData.increaseQty(product)">+</button>
        </div>
      </div>
    </div>
  </div>
  <div id="controls">
    <custom-btn
      color="black"
      icon="fa fa-shopping-cart"
      title="Buy"
      [onClick]="_buyProduct.bind(this)"
    ></custom-btn>
    @if (auth.getRole() == 'admin') {
      <custom-btn
        color="black"
        icon="fa fa-edit"
        title="Edit"
        [onClick]="goToEdit.bind(this)"
      ></custom-btn>
    }
    <custom-btn
      color="black"
      icon="fa fa-info-circle"
      title="Details"
      [onClick]="goToDetails.bind(this)"
    ></custom-btn>
  </div>
</div>
