#row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  height: 100vh;
  background-color: #faf8f5;
}
#img-cont {
  width: 50%;
  overflow: hidden;
  border-radius: 10px;
}
img {
  width: 100%;
  height: 100%;
}
#details-cont {
  width: 50%;
}
#category {
  color: #d49054;
}
#rating {
  color: #a9a19c;
}
#name {
  font-weight: bold;
}
#description {
  color: #a9a19c;
}
