<div id="row">
  <div id="img-cont">
    <img src="https://images.unsplash.com/photo-1612198188060-c7c2a3b66eae?w=600&q=80" alt="" />
    <!-- <img src="{{ product.imageUrl }}" alt="" /> -->
  </div>
  <div id="details-cont">
    <p id="category">{{ product.categoryName }}</p>
    <p id="rating">{{ product.rating }}</p>
    <p id="name">{{ product.name }}</p>
    <p id="description">
      {{ product.description }}
    </p>
    <h3 id="price">{{ product.price | currency }}</h3>
    @if (product.isInStock()) {
      <p id="qty">Left {{ product.quantityLeft }}</p>
    } @else {
      <p id="qty">OUT OF STOCK</p>
    }
    <div id="input-cont">
      <button class="ammount-btn" (click)="productsData.decreaseQty(product)">-</button>
      <input
        type="number"
        min="1"
        value="{{ productsData.getProductQty(product) }}"
        max="{{ product.quantityLeft }}"
        (input)="onQtyInput(+qtyIn.value)"
        #qtyIn
      />
      <button class="ammount-btn" (click)="_increaseQty()">+</button>
    </div>
    <custom-btn
      icon="fa fa-shopping-cart"
      color="black"
      [onClick]="_buyProduct.bind(this)"
      title="Buy"
    ></custom-btn>
    @if (auth.getRole() == 'admin') {
      <custom-btn
        icon="fa fa-edit"
        color="black"
        [onClick]="goToEdit.bind(this)"
        title="Edit"
      ></custom-btn>

      <custom-btn
        icon="fa fa-trash"
        color="red"
        [onClick]="deleteProduct.bind(this)"
        title="Delete"
      ></custom-btn>
    }
  </div>
</div>
