<div id="product-section" [ngStyle]="{ backgroundColor: getTheme() === 'dark' ? '#000' : '#fff' }">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search by name..."
      #searchName
      (input)="
        filterProducts(searchName.value, byCategory.value, [priceInMin.value, priceInMax.value])
      "
    />
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">Search</span>
    </div>
  </div>
  <div id="filters">
    <select
      #byCategory
      (change)="
        filterProducts(searchName.value, byCategory.value, [priceInMin.value, priceInMax.value])
      "
    >
      <option value="All">All</option>
      @for (cat of categories; track cat) {
        <option value="{{ cat }}">{{ cat }}</option>
      }
    </select>
    <!-- <input
      type="text"
      #priceInMin
      (input)="
        filterProducts(searchName.value, byCategory.value, [priceInMin.value, priceInMax.value])
      "
    />
    <input
      type="text"
      #priceInMax
      (input)="
        filterProducts(searchName.value, byCategory.value, [priceInMin.value, priceInMax.value])
      "
    /> -->
    <div id="price-select">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Min Price"
          aria-label="Min Price"
          #priceInMin
          (input)="
            filterProducts(searchName.value, byCategory.value, [priceInMin.value, priceInMax.value])
          "
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">Min Price</span>
        </div>
      </div>

      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Max Price"
          aria-label="Max Price"
          aria-describedby="basic-addon2"
          #priceInMax
          (input)="
            filterProducts(searchName.value, byCategory.value, [priceInMin.value, priceInMax.value])
          "
        />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">Max Price</span>
        </div>
      </div>
    </div>
  </div>
  <h1>{{ productsData.getTotalPrice() | currency }}</h1>
  <div id="products-cont">
    @if (auth.getRole() == 'admin') {
      <app-add-product-card />
    }
    @for (product of filtered; track product.id) {
      <product-card
        [buyProduct]="productsData.buyProduct.bind(this)"
        [getProductQty]="productsData.getProductQty.bind(this)"
        [setProductQty]="productsData.setProductQty.bind(this)"
        [product]="product"
        [decreaseQty]="productsData.decreaseQty.bind(this)"
        [increaseQty]="productsData.increaseQty.bind(this)"
      />
    }
  </div>
</div>
