#slider {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.slider-btn {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: pink;
  display: block;
  gap: 5px;
}
#slider-btns {
  display: flex;
  justify-content: center;
  gap: 5px;
}
