#slider {
  gap: 10px;
  height: 100vh;
  position: relative;
}
#login-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.image-wrap {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-wrap img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
h3 {
  color: #b68963;
}
h1 {
  color: white;
}
button {
  border: 1px solid white;
  background-color: transparent;
  backdrop-filter: blur(5px);
  color: white;
  padding: 10px 50px;
  font-size: 20px;
}
.slider-btn {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #b68963;
  border: 1px solid white;
  display: block;
  gap: 5px;
}
#slider-btns {
  display: flex;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
